@media screen and (min-width: 1024px) {
	#burgernav {
		display: none;
	}
	header #menu {
		float: right;
		margin-top: 25px;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	#menu > ul {
		padding: 0;
		margin:0;
		float: left;
	}
	#menu > ul > li {
		float: left;
		position: relative;
		border-right: 1px #5fc078 solid;
		font-family: 'texgyreadventorbold';
		font-size: 16px;
		color: #fff;
		padding: 0 10px;
	}
	#menu > ul > li:last-child {
		border-right: none;
	}
	#menu > ul > li > a {
		font-size: 14px;
		color: #000;
		display: block;
		text-transform: uppercase;
		padding: 0px 10px !important;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	#menu > ul > li:last-child, #menu > ul > li:last-child a {
		padding: 0px 0 0 10px !important;
	}
	header.header-fixed  #menu  {
		margin-top: 10px;
	}

	
}
