/* ------------------------------------------------------------------------------

Project Name : BlueSkies
Description  : Main Style Sheet
Author       : Imran Rovan
Created On   : 25 Sep 2017
--------------------------------------------------------------------------------*/

/** Google Fonts **/
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700');

@font-face {
	font-family: "Carnas Light";
	src: url("../fonts/Carnas-Light.otf") format("opentype");
	url('../fonts/Carnas-Light.woff') format('woff');
	font-weight: light;
	font-style: normal;
}


html, body {
	margin: 0;
	padding: 0;
}
body {
	color: #000;
	font-family: 'Fira Sans', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	-ms-overflow-style: scrollbar;
}
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
}
ol, ul {
	list-style: none;
}
p {
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	color: #4b4b4b;
}
.absolute {
	position: absolute;
}
img {
	display: block;
	outline: none;
}
img, input, textarea, button {
	border: 0;
	outline: 0;
	resize: none;
}
a, a:hover, a:focus {
	text-decoration: none;
	-moz-transition: all .200s ease-in-out;
	-webkit-transition: all .200s ease-in-out;
	transition: all .200s ease-in-out; 
}
.clear {
	clear: both;
	font-size: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}
.clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
li.clearfix {
	display: list-item;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, p, a, li, span, div {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

/** Theme Css **/
.topsection {
	background: rgba(255,255,255,0.7) url(../images/top-bg.png) repeat left center;
	height: 45px;
	width: 100%;
}
.bismiallah {
	background: #fff  url(../images/bisim.png) no-repeat center center;
	height: 45px;
	width: 232px;
	margin: 0 auto;
	display: block;
}
header {
	width: 100%;
	background-color: #ebfae0;
}
.logo {
	border-bottom: 1px #ffffff solid;
	padding: 0;
	position: relative;
}
.logo:before {
	content: 'Board of Islamic Education Tamilnadu';
	font-size: 18px;
	font-weight: 700;
	color: #363738;
	position: absolute;
	top: 25px;
	text-transform: uppercase;
}
.logo img {
	margin:0 auto;
}
#menu {
	border-top: 1px #d8e4cf solid;
	padding: 10px 0;
	text-align: center;
}
#menu ul li {
	display: inline-block;
	text-align: center;
	padding: 5px 20px;
}
#menu ul li a {
	text-transform: uppercase;
	color:#333;
	font-weight: 500;
	font-size: 13px;
} 
/*banner*/
.sub-head {.logo {
	border-bottom: 1px #ffffff solid;
	padding: 10px 0;
}
.logo img {
	margin:0 auto;
}
#menu {
	border-top: 1px #d8e4cf solid;
	padding: 10px 0;
}
width: 500px !important;
font-size: 40px !important;
line-height: 40px !important;
white-space: normal !important;
font-weight: 600;
color: #000;
display: block !important;
}
.sub-desc {
	width: 500px !important;
	font-size: 16px !important;
	line-height: 26px !important;
	white-space: normal !important;
	font-weight: 400;
	color: #333;
	display: block !important;
}
.hmeabt {
	background: #222;
	position: relative;
	padding:30px;
	z-index: 99;
}
.hmeabt:before {
	content: '';
	background: #222;
	position: absolute;
	top: -50px;
	left: 0;
	width: 100%;
	height: 50px;
}
.hmeabt h2 {
	color: #fff;
	position: relative;
	margin:15px 0 ;
	font-size: 20px;
	padding-left: 60px;
}
.hmeabt h2 span {
	display: block;
	font-size: 55px;
	margin-left: -60px;
}
.hmeabt h2:before {
	content: '';
	width: 40px;
	height: 3px;
	background: #0a9fe4;
	position: absolute;
	left: 0;
	top: 10px;
}
.hmeabt  p {
	color: #ccc;
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 30px;
}
.hmecourse {
	padding-left: 60px;
	padding-top: 50px;
}
.hmecourse h2 {
	display: block;
	font-size: 35px;
	padding-left: 0;
	position: relative;
	margin-bottom: 20px;
}
.hmecourse h2:before {
	content: '';
	width: 35px;
	height: 3px;
	background: #0a9fe4;
	position: absolute;
	left: 0;
	top: 45px;
}
.hmecourse ul {
	margin-bottom: 25px;
}
.hmecourse ul li  {
	display: block;
	font-size: 25px;
	font-family: "Carnas Light"; 
	padding:5px 0;
}
/*.hmecourse ul li:last-child {
padding-left: 15px;
margin-left: 15px;
border-left: 1px #eee solid;
}*/
.hmecourse ul li span {
	display: block;
	font-size: 15px;
}
.imgblock {
	clear: both;
}
.imgblock p {
	font-size: 16px;
}

.box_shadow {
	box-shadow: 0 2px 15px #e4e4e4;
	margin-bottom: 40px;
	border-radius: 15px;
	margin-top:50px;
	position: relative;
	overflow: hidden;
}
.box_shadow:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/course_bg.jpg) no-repeat left center;
	background-size: cover;
	opacity: 0.2;
	display: block; 
}
.nopadding {
	padding: 0;
}
.courseoffd {
	float: left;
	width: 100%;
	padding: 50px 35px;
	min-height: 300px;
	position: relative;
	transition-duration: 0.3s;
}
.courseoffd:hover {
	background-color: rgba(115, 161, 54, 0.5);
	}
.courseoffd .fa {
	position: relative;
	z-index: 5;
	margin-bottom: 10px;
}
.courseoffd .fa:before {
	color: #cccccc;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 60px;
	transition-duration: 0.3s; 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.courseoffd h3 {
	font-size: 26px;
	font-weight: 700;
	transition-duration: 0.3s;
	color: #303030;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.courseoffd p {
	font-size: 16px;
	font-weight: 400;
	transition-duration: 0.3s;
	margin-bottom: 15px;
}
.btn_read {
	text-transform: uppercase;
	color: #10b4ff;
	font-size: 13px;
	font-weight: 700;
	width: 100px;
	height: 35px;
	transition-duration: 0.3s;
	text-align: center;
	line-height: 35px;
	display: block;
	border-radius: 50px;
	border: 1px solid #10b4ff;
}
.courseoffd:hover .fa:before, .courseoffd:hover p, .courseoffd:hover h3, .courseoffd:hover span {
	color:#fff;
}
.facilities {
	margin-top: 120px;
	width: 100%;
	position: relative;
	min-height: 200px;
	padding-bottom: 50px;
}
.facilities:before {
	content:'';
	width:50%;
	height:100%;
	background-color: #0c72a1;
	position: absolute;
	left:0;
	top:0;
	z-index: 0;
}
.facilities:after {
	content:'';
	width:50%;
	height:100%;
	background-color: #73a136;
	position: absolute;
	right:0;
	top:0;
	z-index: 0;
}
.facilities .appl_form {
	    z-index: 10;
    position: absolute;
    width: 100%;
    background: url(../images/form_bg.png) no-repeat center center;
    height: 145px;
    top: -70px;
}
.appl_form p {
    width: 70%;
    float: left;
    padding-left: 50px;
    color: #88deda;
    font-size: 22px;
    height: 145px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 60px;
}
.appl_form p span {
	border-bottom:2px #fff solid;
	color:#fff;
}
.appl_form a {
	    background: #fff;
    padding: 0px 25px;
    border-radius: 50px;
    margin-top: 50px;
    display: inline-block;
    font-size: 17px;
    margin-right: 52px;
    float: right;
    color: #207975;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 45px;
    box-shadow: 0 0 15px rgba(5, 78, 75, 0.6);
}
.course_dtls {
    padding-top: 150px;
    position: relative;
    z-index: 10;
}
.course_dtls h2 {
	font-size:35px;
	color:#fff;
	margin-bottom:25px;
	display: block;
	font-size: 35px;
	position: relative;
}
.course_dtls h2:before {
	content: '';
	width: 35px;
	height: 3px;
	background: #fff;
	position: absolute;
	left: 0;
	top: 50px;
}
.course_dtls ul.specdtl li {
	font-size:18px;
	color:#eee;
	margin-bottom:15px;
	font-weight:400;
	margin-right: 60px;
}
.admidtl h2 {
	margin-left: 60px;
}
 .course_dtls .admidtl ul li {
	font-size:17px;
	color:#eee;
	margin-bottom:15px;
	font-weight:400;
	margin-left: 60px;
}
.course_dtls ul li {
	background: url(../images/tick.png) no-repeat left 7px;
	padding-left: 35px;
}
.testi {
	background-color: #fff;
	padding:40px 0; 
}
.testi .quote-icon{
	position:relative;
	color:#ccc;
	font-size:52px;
	line-height:1em;
	margin-bottom:10px;
	text-align: center;
}
.testi .text {
	    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.author-box {
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 40px;
	border-bottom: 1px #ccc solid; 
}
.author-box h3 {
	font-size:20px;
	color:#000;
	margin-top: 15px;
}
.designation {
		font-size:14px;
	color:#666;
}
.inner-column .title {
    position: relative;
    color: #a0a0a0;
    font-size: 18px;
}
.consult-section .title-column .inner-column .text {
    position: relative;
    font-size: 16px;
    line-height: 1.7em;
    color: rgba(0,0,0,0.75);
}
.call {
    position: relative;
    color: #676767;
    font-size: 16px;
    margin-top: 40px;
}
.call span {
    color: #000000;
    font-weight: 700;
}
.number {
    position: relative;
    font-size: 25px;
    line-height: 30px;
    font-weight: 300;
    color: #000000;
    margin-top: 5px;
}
.default-form .form-group {
    position: relative;
    margin-bottom: 30px;
}
.default-form .form-group input[type="text"], .default-form .form-group input[type="tel"], .default-form .form-group input[type="email"], .default-form .form-group select, .default-form .form-group textarea {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 15px;
    color: #848484;
    line-height: 24px;
    padding: 12px 15px;
    font-weight: 400;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}
.default-form .form-group textarea {
    height: 210px;
    resize: none;
}
.btn-style-one {
    position: relative;
    padding: 10px 30px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    background: #17519d;
    letter-spacing: 1px;
    border-radius: 0px;
    border: 2px solid #17519d;
    text-transform: uppercase;
}
.testi h2 {
	display: block;
	font-size: 25px;
	padding-left: 0;
	position: relative;
	margin-bottom: 20px;
}
.testi h2:before {
	content: '';
	width: 35px;
	height: 3px;
	background: #0a9fe4;
	position: absolute;
	left: 0;
	top: 35px;
}
footer {
	    padding: 15px 0px;
    margin-top: 40px;
    background-color: #1e2332;
    text-align: center;
    color: #ccc;
    font-size: 14px;
}